body {
  background-color: rgb(126, 60, 60);
}

#container {
  width: 40%;
  margin-top:40px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 40px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  font-family: tahoma, sans-serif;
  padding-bottom: 30px;
  line-height: 30px;
}

.style-mb {
  margin-bottom: 20px;
}

textarea {
  margin-left: auto;
  margin-right: auto;
  display: block;
  resize: none;
}

#submit {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 100px;
}
